# editor/os
.DS_Store

# project
__pycache__/
.venv/
.pytest_cache/
.ruff_cache/
dist/
lazy-lock.json

# runtime data (container generated)
**/docker/**/cache/
**/docker/**/data/
**/docker/**/logs/

# machine deployment
private/
