# editor/os
.DS_Store

# project
__pycache__/
.venv/
.pytest_cache/
.ruff_cache/
.reports/
dist/
lazy-lock.json

# machine deployment
.env
.env.*

# homelab deployment
**/docker/**/cache/
**/docker/**/data/
**/docker/**/logs/
