{{- $machineConfig := printf "%s/vim" .machineConfigPath -}}
{{- $baseConfig := printf "%s/vim" .configPath -}}

{{- if stat $machineConfig -}}
{{- $machineConfig -}}
{{- else -}}
{{- $baseConfig -}}
{{- end -}}
