{{- /* Interactive machine selection */ -}}
{{- $machines := list "gleason" "macbook" "rpi" "pc" "codespaces" -}}
{{- $machine := promptChoice "Select machine" $machines -}}

{{- /* Prompt for machine and private data paths */ -}}
{{- $machinePath := promptString "Enter the machine path" .chezmoi.workingTree -}}
{{- $privatePath := promptString "Enter the private path" .privatePath -}}

{{- /* Detect OS */ -}}
{{- $os := .chezmoi.os -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   if (.chezmoi.kernel | lower | contains "microsoft") -}}
{{-     $os = "wsl" -}}
{{-   end -}}
{{- end -}}

sourceDir = {{ $machinePath | quote }}
workingTree = {{ $machinePath | quote }}
progress = true

[data]
machine = {{ $machine | quote }}
machinePath = {{ $machinePath | quote }}
privatePath = {{ $privatePath | quote }}
os = {{ $os | quote }}
