{{- /* macos */ -}}
{{ if ne .chezmoi.os "darwin" }}
Library/**
{{ end }}

{{- /* linux */ -}}
{{ if ne .chezmoi.os "linux" }}
.config/Code/**
{{ end }}

{{- /* windows */ -}}
{{ if ne .chezmoi.os "windows" }}
Documents/**
AppData/**
{{ end }}

{{- /* unix */ -}}
{{ if eq .chezmoi.os "windows" }}
.config/**
.hushlogin
{{ end }}
