{{/*
  script_loader template - loads scripts for execution at a deployment phase.

  Usage:
  {{- template "script_loader.tmpl" (dict "ctx" . "prefix"  "once" ) -}}

  Args:
    ctx: the template context (pass .)
    prefix: the prefix for the scripts to load
*/}}

{{- $baseScripts := list -}}
{{- $machineScripts := list -}}

{{- /* Load base scripts */ -}}
{{- $basePath := joinPath .ctx.configPath "scripts" -}}
{{- if stat $basePath -}}
{{- $pattern := .prefix -}}
{{- if .prefix -}}{{- $pattern = printf "%s_*" .prefix -}}{{- else -}}{{- $pattern = "*" -}}{{- end -}}
{{- range (glob (joinPath $basePath $pattern)) -}}
{{- $baseScripts = append $baseScripts . -}}
{{- end -}}
{{- end -}}

{{- /* Load machine-specific scripts */ -}}
{{- $machinePath := joinPath .ctx.machineConfigPath "scripts" -}}
{{- if stat $machinePath -}}
{{- $pattern := .prefix -}}
{{- if .prefix -}}{{- $pattern = printf "%s_*" .prefix -}}{{- else -}}{{- $pattern = "*" -}}{{- end -}}
{{- range (glob (joinPath $machinePath $pattern)) -}}
{{- $machineScripts = append $machineScripts . -}}
{{- end -}}
{{- end -}}

{{- /* Return raw data for script to merge */ -}}
{{- $data := dict "base" $baseScripts "machine" $machineScripts -}}
{{- $script := "scripts.py" -}}
{{- $argv := list -}}
{{- if .prefix -}}
{{-   $argv = append $argv "--prefix" -}}
{{-   $argv = append $argv .prefix -}}
{{- end -}}
{{- $args := dict "ctx" .ctx "script" $script "argv" $argv "data" $data -}}
{{- template "script_runner.py" $args }}


# Loaded Scripts
# =============================================================================


{{- /* Include loaded base scripts to trigger on-change events */ -}}
{{- range $baseScripts }}

# source: {{ . }}
{{- range (splitList "\n" (include .)) }}
# {{ . }}
{{- end }}
{{- end }}

{{- /* Include loaded machine scripts to trigger on-change events */ -}}
{{- range $machineScripts }}

# source: {{ . }}
{{- range (splitList "\n" (include .)) }}
# {{ . }}
{{- end }}
{{- end }}
