[user]
    name = Mohammed Fareed
    email = mfareed@gleason.com
    signingkey = ~/.ssh/wks.pub

; disable commit signing
[commit]
    gpgsign = false

; restore config for personal projects
[includeIf "gitdir/i:~/Dev/personal/"]
    path = ~/.gitconfig
