:8080 {
    @bazarrWhisper path /status /asr /detect-language
    handle @bazarrWhisper {
        reverse_proxy 127.0.0.1:9000
    }

    handle /v1/audio/* {
        reverse_proxy host.docker.internal:8081
    }

    handle {
        reverse_proxy 127.0.0.1:8317
    }
}
