{{- $baseScripts := dict -}}
{{- $machineScripts := dict -}}
{{- $data := dict -}}

{{- /* Load base scripts */ -}}
{{- $basePath := joinPath .configPath "scripts.yaml" -}}
{{- if stat $basePath -}}
{{- $baseScripts = include $basePath | fromYaml -}}
{{- end -}}

{{- /* Load machine-specific scripts */ -}}
{{- $machinePath := joinPath .machineConfigPath "scripts.yaml" -}}
{{- if stat $machinePath -}}
{{- $machineScripts = include $machinePath | fromYaml -}}
{{- end -}}

{{- /* Return raw data for script to merge */ -}}
{{- $data = dict "base" $baseScripts "machine" $machineScripts -}}
{{- template "script_runner.py" (dict "ctx" . "script" "scripts.py" "data" $data) -}}
