#!/usr/bin/env python3

import os
import subprocess
import sys
from pathlib import Path

# scripts
scripts_dir = Path("{{ .scriptsPath }}")
script = scripts_dir / "scripts.py"

# setup scripts
scripts = """
{{ template "scripts" . }}
"""

# environment
env = os.environ.copy()
env["CHEZMOI_SCRIPTS"] = scripts

# run script
result = subprocess.run(
    [sys.executable, str(script)],
    env=env,
    check=False,
)
sys.exit(result.returncode)
