# ═════════════════════════════════════════════════════════════════════════════
# MARK: Zim Modules
# ═════════════════════════════════════════════════════════════════════════════

zmodule homebrew
zmodule environment
zmodule input
zmodule joke/zim-starship
zmodule exa --if-command eza

# Completion definitions must load before compinit.
zmodule zsh-users/zsh-completions --fpath src

zmodule completion # ──────────────────────────────────────────────────────────

# Completion definitions must load after compinit.
zmodule ohmyzsh/ohmyzsh --root plugins/dotnet --if-command dotnet

# Tab completion integration with fzf.
zmodule fzf --if-command fzf
zmodule Aloxaf/fzf-tab --if-command fzf
zmodule Freed-Wu/fzf-tab-source --if-command fzf

# Widget wrappers load after completion is initialized.
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
zmodule zsh-users/zsh-autosuggestions
