{{- /* Merge base packages with machine-specific packages */ -}}
{{- $basePackages := dict -}}
{{- $machinePackages := dict -}}

{{- /* Load base packages */ -}}
{{- $basePath := joinPath .chezmoi.sourceDir "../config/packages.yaml" -}}
{{- if stat $basePath -}}
{{- $basePackages = include $basePath | fromYaml -}}
{{- end -}}

{{- /* Load machine-specific packages */ -}}
{{- $machinePath := joinPath .chezmoi.sourceDir "../machines" .chezmoi.hostname "packages.yaml" -}}
{{- if stat $machinePath -}}
{{- $machinePackages = include $machinePath | fromYaml -}}
{{- end -}}

{{- /* Merge packages by manager (append lists) */ -}}
{{- $finalPackages := dict -}}
{{- if $basePackages.packages -}}
{{- range $manager, $packages := $basePackages.packages -}}
{{- $_ := set $finalPackages $manager (deepCopy $packages) -}}
{{- end -}}
{{- end -}}

{{- if $machinePackages.packages -}}
{{- range $manager, $packages := $machinePackages.packages -}}
{{- if hasKey $finalPackages $manager -}}
{{- $existing := index $finalPackages $manager -}}
{{- $_ := set $finalPackages $manager (concat $existing $packages) -}}
{{- else -}}
{{- $_ := set $finalPackages $manager (deepCopy $packages) -}}
{{- end -}}
{{- end -}}
{{- end -}}

packages:
{{- toYaml $finalPackages | nindent 2 -}}
