{{- if eq .os "linux" -}}

{{- $machineConfig := printf "%s/vscode/snippets" .machineConfigPath -}}
{{- $baseConfig := printf "%s/vscode/snippets" .configPath -}}

{{- if stat $machineConfig -}}
{{- $machineConfig -}}
{{- else -}}
{{- $baseConfig -}}
{{- end -}}

{{- end -}}
