[user]
    name = Mohammed Fareed
    email = mohdf.fareed@icloud.com

; sign commits
[user]
    signingkey = ~/.ssh/personal.pub
[commit]
    gpgsign = true
[gpg]
    format = ssh ; use ssh key for signing

; git settings
[core]
    excludesfile = ~/.gitignore
    autocrlf = false ; ensure line endings are LF
    eol = lf ; ensure line endings are LF
[init]
    defaultBranch = main ; use main as default branch name
[fetch]
    prune = true ; remove remote-tracking branches for deleted remote branches
[pull]
    rebase = true ; rebase local commits on top of the updated upstream branch
[rerere]
    enabled = true ; remember conflict resolutions

; terminal settings
[status]
    short = true ; git status uses --short by default
[color]
    ui = auto ; colorize git output
[help]
    autoCorrect = prompt ; prompt to correct typos in git commands

; vim editor
[core]
    editor = nvim
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = nvim -d $LOCAL $REMOTE
[merge]
    tool = nvimdiff
[mergetool "nvimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED

; lfs (large file system)
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
