name: Continuous Integration

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  checks: write

jobs:
  python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0

      - name: Compile against Python 3.8
        uses: actions/setup-python@v6
        with:
          python-version: "3.8"
      - run: |
          python -m compileall src
          python -m compileall setup.py

      - name: Lint with Ruff
        uses: astral-sh/ruff-action@v3
        with:
          args: "check --line-length=79"

      - name: Format with Ruff
        uses: astral-sh/ruff-action@v3
        with:
          args: "format --check --diff --line-length=79"

  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0

      - uses: ludeeus/action-shellcheck@master
        env:
          SHELLCHECK_OPTS: -e SC1071

  spelling:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0

      - uses: reviewdog/action-misspell@master
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-check
          level: warning
          locale: "US"
          exclude: |
            *.lock
