name: Continuous Integration

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  checks: write

jobs:
  python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0

      - name: Compile against Python 3.8
        uses: actions/setup-python@v6
        with:
          python-version: "3.8"
      - run: |
          python -m compileall chezmoi
          python -m compileall config
          python -m compileall machines
          python -m compileall scripts
          python -m compileall bootstrap.py

      - name: Formatter
        uses: reviewdog/action-black@master
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-check
          reviewdog_flags: "-tee"
          level: warning

      - name: Type checker
        uses: jordemort/action-pyright@main
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-check
          reviewdog_flags: "-tee"

  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0

      - uses: ludeeus/action-shellcheck@master
        env:
          SHELLCHECK_OPTS: -e SC1071

  spelling:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0

      - uses: reviewdog/action-misspell@master
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-check
          level: warning
          locale: "US"
          exclude: |
            *.lock
